body {
  margin: 0;
}

* {
  font-family: sans-serif;
}

.image-container {
  width: 100%;

}

.image-container > div {
  position: unset !important;
}

.image-container > .image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;